################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.vsidx

# Python bytecode cache
__pycache__/
*.pyc
